exportPattern("^[[:alpha:]]+")
#import(utils,Rcpp,,,,,stats,RJSONIO,)
#import(treemap,plyr,)
import(ggplot2)
import(scales)
import(countrycode)
import(rworldmap)
import(RColorBrewer)
import(zoo)
import(reshape)
import(ellipse)
import(RCurl)
import(grid)